.login-container, .signup-container {
    height: 100vh;
    width: 100vw;
    background: rgb(195, 177, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.login-form, .signup-form {
    background: white;
    height: 60vh;
    width: 40vw;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in-out;
}

.signup-form { 
    height: 64vh;
}

#signup-link, #login-link {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
    text-transform: uppercase;
    font-family: NHaas65;
    font-size: 1em;
}

#signup-link {
    margin-bottom: 1em;
}

#signup-link:hover, #login-link:hover {
    color: rgb(195, 177, 225);
}

@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.errors {
    /* margin-bottom: 0.5em; */
    font-size: 0.9em;
    font-family: 'NHaas55';
    color: red;
    text-align: center;
}

.errors li:last-child {
    margin-bottom: 0.5em;
}

.session-form {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: NHaas55;
}

#session-signup {
    height: 99%;
}

.session-form img {
    height: 5em;
    width: 15em;
    margin-bottom: 2em;
}

.session-form h2 {
    font-family: 'NHaas65';
    font-size: 2em;
    margin-bottom: 1em;

}

.session-form input {
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 2em;
    margin-bottom: 1.5vh;
    font-size: 1em;
    border: 1px solid black;
    padding: 0.5em 0;
    width: 100%;
}

#demo-login-button {
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 2em;
    margin-bottom: 1.5vh;
    font-size: 1em;
    border: 1px solid black;
    padding: 0.5em 0;
    width: 100%;
}

#login-button, #demo-login-button, #signup-button {
    background: black;
    color: white;
    font-family: NHaas65;
    font-size: 1em;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

#login-button:hover, #demo-login-button:hover, #signup-button:hover {
    cursor: pointer;
    background: white;
    color: black;
}

@media all and (max-width: 930px) {
    .login-form, .signup-form {
        width: 70vw;
    }
    
}

@media all and (max-width: 500px) {
    .login-form, .signup-form {
        width: 90vw;
    }
}