.ratingVisualizer-container {
    display: flex;
}

.rating-bar {
    width: 60px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-right: 3px;
    overflow: hidden;
}

.rating-bar > div {
    display: table-cell;
    vertical-align: top;
    height: 30px;
    background-color: #FF5F1F;
    /* border-radius: 20px; */
    margin-right: 3px;
    width: 0;
}

.rating-bar-filled {
    width: 60px;
    height: 30px;
    background-color: #FF5F1F;
    border-radius: 20px;
    margin-right: 3px;
}
/*  */

.pricingVisualizer-container {
    display: flex;
}

.pricing-bar {
    width: 60px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-right: 3px;
    overflow: hidden;
}

.pricing-bar>div {
    display: table-cell;
    vertical-align: top;
    height: 30px;
    background-color: #FF5F1F;
    /* border-radius: 20px; */
    margin-right: 3px;
}

.pricing-bar-filled {
    width: 60px;
    height: 30px;
    background-color: #FF5F1F;
    border-radius: 20px;
    margin-right: 3px;
}