.itinerary {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.time-frame {
    height: 70%;
    width: 70%;
    background-color: grey;
    border-radius: 5px;
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding: 1em;
    /* Add padding for better spacing */
}
.itinerary-event {
  display: flex;
  align-items: center;
  margin-top: 1.5em;

margin-left: 2%;
margin-right: 2%;
justify-content: center;
}

.title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

.image {
  width: 8vw;
  height: 10vh;
  margin-left: 0.5em;
  border-radius: 10px;
}

.remove-icon {
    cursor: pointer;
    margin-left: auto;
    /* Moves the remove icon to the right */
    font-size: 1.2em;
    /* Adjust the font size as desired */
    transition: color 0.3s;
    /* Add transition effect for color change */
}

.remove-icon:hover {
    color: red;
    /* Changes the color to red on hover */
}