.create-form, .update-form {
    padding-top: 8em;
    display: flex;
    flex-direction: row;
    background: rgb(195, 177, 225);
    height: 100vh;
    justify-content: center;
}

.filled-star {
    color: #FF5F1F;
}

.empty-star {
    color: lightgrey;
}

#form-star {
    font-size: 2em;
}

#form-star:hover {
    cursor: pointer;
}

.review-form {
    display: flex;
    background: white;
    border-radius: 2em;
    height: 39em;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.307);
    animation: fadeIn 1s ease-in-out;
}

.review-form:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.375);
    transform: translate(3px, -3px);
}

.form-details {
    margin-left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 100%;
    font-size: 0.8em;
    padding: 0 2em;
    padding-bottom: 2em;
}

.headings {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'NHaas55';
    margin-top: 5%;
    margin-bottom: 15px;
}


.button {
    background: black;
    color: white;
    font-family: NHaas65;
    font-size: 1em;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 2em;
    margin-bottom: 1.5vh;
    font-size: 1em;
    border: 1px solid black;
    padding: 0.5em 0;
    width: 100%;
    height: 3em;
    
        &:hover {
            cursor: pointer;
            color: black !important;
            background-color: transparent;
            color: var(--off-black);
            border-color: #000000;
            /* transform: scale(1.1); */
            color:#ffffff
        }
}

.title-box {
    border-color: #838383;
    width: 50vw;
}

.comments-box {
    border-color: #838383;
    font-family: Nhaas55 !important;
    width: 98%;
    height: 15vh !important;
    resize: none;
    font-size: 1.5em;
}

#first-header {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    font-family: 'NHaas65';
}

.ratings-box {
    border-color: #838383;
}

.prices-box, .time-box {
    /* border-color: #838383; */
    font-family: Nhaas65;
    background-color: lightgrey;
    height: 2.5em;
    border: none;
    color: black;
    transition: 0.5s;
    text-indent: 1em;
    width: 13em;
    letter-spacing: 0.03em;
    border-radius: 3vw;
    font-size: 1em;
}

.prices-box:focus, .time-box:focus {
    outline: none;
}


#image{
    border: 1px solid #e3e3e3;
    border-radius: 1.5em;
    margin-bottom: 16px;
    position: relative;
    width: 25vw;
    height: 40vh;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.307);
    background-color: white;
    transition: all 0.4s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

#header{
    font-size: 1.5em;
        font-weight: bold;
        font-family: 'NHaas55';
        margin-top: 5%;
        margin-bottom: 15px;
}

.right-side{
    margin-left: 10%;
    margin-top: 5%;
}

.error {
    color: red;
    font-family: Nhaas55;
}

.flash-message{
    color: green;
    font-family: Nhaas55;
    position: absolute;
    top: 15%;
    right: 3%;
    width: 9em;
}