.explore-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100vw;
    background: url(../../assets/explore.jpg);
    background-size: cover;
    scroll-snap-align: center;
}

.explore-page h2 {
    z-index: 1;
    font-size: 4em;
    font-family: 'NHaas65';
    color: white;
    margin-bottom: 0em;
    position: absolute;
    top: 34%;
}

.explore-page-header {
    position: relative;
    margin-top: 1em;
    z-index: 1;
}

#search-icon {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#search-bar{
    width: 41em;
    height: 3em;
    font-size: 1.05em;
    border-radius: 2em;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: 'NHAAS65';
    padding-left: 2.5em;
}

#search-bar:focus {
    outline: none;
}

.explore-2 {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    background-color: #fffd92;
}

.featured-experiences {
    height: 31em;
    width: 85%;
    text-align: center;
}

.featured-experiences h2 {
    margin-top: 0.6em;
    font-size: 4em;
    font-family: 'NHaas65';
    margin-bottom: 0.4em;
    color: rgb(195, 25, 82);
    animation: fadeIn 1s ease-in-out;
}

.featured-experiences-container {
    display: flex;
    animation: fadeIn 1s ease-in-out;
    flex-direction: row-reverse;
}

.featured-experiences-container img {
    width: 12em;
    border-radius: 2.5em;
    padding: 1em;
    min-height: 17em;
    max-height: 17em;
    transition: all 0.4s ease-in-out;
    animation: fadeIn 1s ease-in-out;
    object-fit: cover;
}

.featured-experiences-container img:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.featured-experiences-container :nth-child(even) {
    margin-top: 3em;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(1em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}