.update-form{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}

.form-details {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 100%;
}

.headings {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'NHaas55';
    margin-top: 5%;
    margin-bottom: 15px;
}


.button {
    background: black;
    color: white;
    font-family: NHaas65;
    font-size: 1em;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 2em;
    margin-bottom: 1.5vh;
    font-size: 1em;
    border: 1px solid black;
    padding: 0.5em 0;
    width: 100%;

    &:hover {   
        cursor: pointer;
        color: black;
        background-color: transparent;
        color: var(--off-black);
        border-color: #000000;
        /* transform: scale(1.1); */
        color: #ffffff
    }
}

.title-box {
    border-color: #838383;
    width: 50vw;
}

.comments-box {
    border-color: #838383;
    width: 98%;
    height: 20vh;
}

.ratings-box {
    border-color: #838383;
}

.prices-box {
    border-color: #838383;
}

.time-box {
    border-color: #838383;
}

